/*Layoutsusing div*/

body {
    margin:0;
    padding:0;
}
#first,#second,#third{
    background-color: brown;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    height:100px;
    width: 150px;
}